<div class="container">
  <form>
    <h3 *ngIf="id == -1">Add new record</h3>
    <h3 *ngIf="id != -1">Edit</h3>
    <div class="form-group">
      <label>Title</label> <br>
      <input type="text" name="title" class="form-control" [(ngModel)]="title" />
    </div>
    <div class="form-group">
      <label>Content</label> <br>
      <textarea style="height: 90px;" type="text" name="content" class="form-control" [(ngModel)]="contents" ></textarea>
    </div>
    <input type="submit" value="Save" (click)="addOrEdit()" class="btn btn-success">
    <button style="float:right" *ngIf="id != -1" class="btn btn-warning" (click)="cancelEdit()">Cancel edit</button>
  </form>
  <br>
  <hr>
  <a style="float: right" class="btn btn-primary" href="search">Search</a>
  <h3>Data</h3>
  <table *ngIf="listPaper" class="table table-bordered">
    <tr style="text-align: center">
      <th>Title</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let paper of listPaper">
      <td style="width: 15%">{{paper.title}}</td>
      <td style="width: 70%"  > 
        <div [innerHTML] = "paper.contents |  slice:0:500 "></div>...
        <!-- {{paper.contents}}  -->
      </td>
      <td style="width: 15%">
        <button class="btn btn-info" (click)="findRecord(paper.id)" >Edit</button>
        <!-- <br> -->
        <button class="btn btn-warning" (click)="deleteRecord(paper.id,paper.title)" style="float: right;">Delete</button>
      </td>
    </tr>
  </table>
</div>