<div class="container">
    <a style="float: right" href="admin">Manager Data</a>
    
  <h3>Search</h3>
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="textSearch">
        <div class="input-group-btn">
          <button class="btn btn-info" type="submit" (click)="search()">Go</button>
        </div>
      </div>
    </form>
  <hr>
  <table *ngIf="listPaper && listPaper.length > 0" class="table table-bordered">
    <tr style="text-align: center">
      <th>Title</th>
      <th>Content</th>
      <!-- <th>Action</th> -->
    </tr>
    <tr *ngFor="let paper of listPaper">
      <td style="width: 15%">
        <!-- {{paper.title | highlights: textHighlight }} -->
        <div [innerHTML] = "paper.title"></div>
      </td>
      <td >
         <!-- {{paper.contents | highlights: textHighlight}} -->
        <div [innerHTML] = "paper.contents "></div>
      </td>
      <!-- <td style="width: 15%">
        <button class="btn btn-info" (click)="findRecord(paper.id)">Edit</button>
        <button class="btn btn-warning" (click)="deleteRecord(paper.id,paper.content)"
          style="float: right;">Delete</button>
      </td> -->
    </tr>
  </table>
</div>